# Ignore any directory called bin or obj
**/bin
**/obj

# Ignore objects
/obj

# Ignore the app directory
/app

# Per-user VS files
/VsProjectGenerator/.vs

# Ignore generated VS projects but don't ignore the jam/batch files required to generate them
/projects/vs_projects/*
!/projects/vs_projects/Jamfile.jam
!/projects/vs_projects/clean_vs_projects.bat
!/projects/vs_projects/generate_vs_projects.bat

# Ignore anything in the generated source folder
/source/generated