# Ignore the build directory
/build

# Ignore the app directory
/app

# Per-user VS files
**/.vs
**/*.vcxproj.user

# Ignore anything in the generated source folder
/source/generated

# Ignore Python cache
**/__pycache__
